body {
  margin: 0;
  background-color: papayawhip;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rec.rec-arrow {
  height: 16px;
  width: 16px;
  font-size: 0.7em;
  line-height: 0px;
  min-width: 0px;
  padding: 0px;
}

@media (max-width: 720px) {
  .rec.rec-arrow {
    visibility: hidden; 
    width: 0px;
  }     
}

.rec-arrow-left {
  margin-left: 3px;
  }
  
.rec-arrow-right {
    margin-right: 3px;
    }  

.rec.rec-pagination {
  margin-top: 4px
}

.rec.rec-dot{
  width: 4px;
  height: 8px;
  box-shadow: 0 0 1px 2px rgba(0,0,0,0.5)
}

.rec.rec-dot_active{
  background-color: rgba(103,58,183,.9);
  border-radius: 0%;
  box-shadow: 0 0 1px 0.5px rgba(0,0,0,0.5)
}

